.card {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 1 110.5rem;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--dark-desaturated-blue);
    position: relative;
    z-index: 1;
    
        &__text {

            padding: var(--padding-card-text);
            text-align: center;
        
                h1 {
                    
                    font-size: 3rem;
                    letter-spacing: 0; 
                    line-height: 1.22;
                    margin: 0;
                    font-weight: 700;
                    @media only screen and (min-width: 761px) {
                        font-size: 3.5rem;
                    }
                }

                p {
                    
                    margin-top: 2.9rem;
                    margin-bottom: 0;
                    font-size: 1.45rem;
                    @media only screen and (min-width: 761px) {
                        max-width: 35rem;
                    }
                }

                @media only screen and (min-width: 761px) {
                    text-align: left;
                    flex: 0 1 56.5rem;
                    min-width: 0;
                }

        }

        &__stats {
            display: flex;
            justify-content: space-between;
            font-family: 'Inter', sans-serif;
            padding-top: 7.5rem;
            
            h2 {
                margin: 0 0 0.7rem 0;
                letter-spacing: 1px;
                font-weight: 700;
                color: var(--slightly-transparent-white-headings);
                
            }

            p {
                margin: 0;
                font-size: 1.1rem;
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }

            @media only screen and (min-width: 761px) {
                max-width: 34.3rem;
            }
            
        }

        &__image {
           
            background-color: var(--soft-violet);
            position: relative;
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
                display: block;
                mix-blend-mode: multiply;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--soft-violet);
                opacity: 0.2;
                z-index: 2;
            }

            @media only screen and (min-width: 761px) {
                flex: 0 1 auto;
                min-width: 0;
            }
        }

        @media only screen and (min-width: 761px) {

            flex-direction: row;
        }
}